*{
    margin: 0;
    padding: 0;  
}
.cabeçalho{
    background-color: #05312c;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}
.cabeçalho-item{
    display: inline-block;
    padding: 0 25px;
}
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#284e51, #c0cacd);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px 0;
}
.escola-conteudo{
    width: 30%;
}
.escola-titulo{
    padding: 25px 0;
}
.perfil{
    background-color: #284e51
}
.estudante-imagem{
    padding 20px 0;..
    padding20px0;
    width: 200px;
}
.estudante-icone{
    width 24px;
    padding 20px0;
}
.escola-div{
    text-again: center;
}
.estudante-titulo{
    text-again:center;
    padding30px0;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%
    padding: 30px0;
}
.rodape{
    background-color: black;
    color: white;
    padding: 12px0;
    text-again: center;
}